<h3><a href="#" {{action "toggleBody"}}>{{document.name}}</a></h3>
{{#if isShowingBody}}
  {{#with document}}
    <table class="pure-table pure-table-bordered">
      {{#if source}}
        <tr><td>Source</td><td>{{source}}</td></tr>
      {{/if}}
      {{#if entity_number}}
        <tr><td>Entity Number</td><td>{{entity_number}}</td></tr>
      {{/if}}
      {{#if sdn_type}}
        <tr><td>SDN Type</td><td>{{sdn_type}}</td></tr>
      {{/if}}
      {{#if programs}}
        <tr><td>Programs</td><td>{{programs}}</td></tr>
      {{/if}}
      {{#if title}}
        <tr><td>Title</td><td>{{title}}</td></tr>
      {{/if}}
      {{#if federal_register_notice}}
        <tr><td>Federal Register Notice</td><td>{{federal_register_notice}}</td></tr>
      {{/if}}
      {{#if start_date}}
        <tr><td>Start Date</td><td>{{start_date}}</td></tr>
      {{/if}}
      {{#if end_date}}
        <tr><td>End Date</td><td>{{end_date}}</td></tr>
      {{/if}}
      {{#if standard_order}}
        <tr><td>Standard Order</td><td>{{standard_order}}</td></tr>
      {{/if}}
      {{#if license_requirement}}
        <tr><td>License Requirement</td><td>{{license_requirement}}</td></tr>
      {{/if}}
      {{#if license_policy}}
        <tr><td>License Policy</td><td>{{license_policy}}</td></tr>
      {{/if}}
      {{#if call_sign}}
        <tr><td>Call Sign</td><td>{{call_sign}}</td></tr>
      {{/if}}
      {{#if vessel_type}}
        <tr><td>Vessel Type</td><td>{{vessel_type}}</td></tr>
      {{/if}}
      {{#if gross_tonnage}}
        <tr><td>Gross Tonnage</td><td>{{gross_tonnage}}</td></tr>
      {{/if}}
      {{#if gross_registered_tonnage}}
        <tr><td>Gross Registered Tonnage</td><td>{{gross_registered_tonnage}}</td></tr>
      {{/if}}
      {{#if vessel_flag}}
        <tr><td>Vessel Flag</td><td>{{vessel_flag}}</td></tr>
      {{/if}}
      {{#if vessel_owner}}
        <tr><td>Vessel Owner</td><td>{{vessel_owner}}</td></tr>
      {{/if}}
      {{#if remarks}}
        <tr><td>Remarks</td><td>{{remarks}}</td></tr>
      {{/if}}
      {{#if source_list_url}}
        <tr><td>Source List URL</td><td><a href="{{unbound source_list_url}}" target="_blank">{{source_list_url}}</a></td></tr>
      {{/if}}

      {{#if alt_names}}
        <tr><td>Alternative Names</td><td>{{alt_names}}</td></tr>
      {{/if}}
      {{#if nationalities}}
        <tr><td>Nationalities</td><td>{{nationalities}}</td></tr>
      {{/if}}
      {{#if citizenships}}
        <tr><td>Citizenships</td><td>{{citizenships}}</td></tr>
      {{/if}}
      {{#if dates_of_birth}}
        <tr><td>Dates of Birth</td><td>{{dates_of_birth}}</td></tr>
      {{/if}}
      {{#if places_of_birth}}
        <tr><td>Places of Birth</td><td>{{places_of_birth}}</td></tr>
      {{/if}}

      {{#if addresses}}
        <tr><td>Addresses</td><td>
          <ol>
          {{#each a in addresses}}
            <li><ul>
              {{#if a.address}}
                <li>{{a.address}}</li>
              {{/if}}
              {{#if a.city}}
                <li>{{a.city}}</li>
              {{/if}}
              {{#if a.state}}
                <li>{{a.state}}</li>
              {{/if}}
              {{#if a.postal_code}}
                <li>{{a.postal_code}}</li>
              {{/if}}
              {{#if a.country}}
                <li>{{a.country}}</li>
              {{/if}}
            </ul></li>
          {{/each}}
          </ol>
        </td></tr>
      {{/if}}

      {{#if identifications}}
        <tr><td>IDs</td><td>
          <ol>
          {{#each id in identifications}}
            <li><ul>
              {{#if id.type}}
                <li>{{id.type}}</li>
              {{/if}}
              {{#if id.number}}
                <li>{{id.number}}</li>
              {{/if}}
              {{#if id.country}}
                <li>{{id.country}}</li>
              {{/if}}
              {{#if id.issue_date}}
                <li>{{id.issue_date}}</li>
              {{/if}}
              {{#if id.expiration_date}}
                <li>{{id.expiration_date}}</li>
              {{/if}}
            </ul></li>
          {{/each}}
          </ol>
        </td></tr>
      {{/if}}
    </table>
  {{/with}}
{{/if}}
