{{total-results total=total}}

<div id="search-results">
  {{#each document in content}}
    {{search-result document=document}}
  {{/each}}
</div>

<div class="pages">
  <ul class="pure-paginator">
    {{#if prevPage}}
      <li><a class="pure-button" {{action "search" prevPage}}>&#171;</a></li>
    {{else}}
      <li class="pure-button pure-button-disabled">&#171;</a</li>
    {{/if}}

    {{#each page in pagesInfo}}
      {{#if page.isCurrent}}
        <li class="pure-button pure-button-active">{{page.text}}</li>
      {{else}}
        <li><a class="pure-button" {{action "search" page.page}}>{{page.text}}</a></li>
      {{/if}}
    {{/each}}

    {{#if nextPage}}
      <li><a class="pure-button" {{action "search" nextPage}}>&#187;</a></li>
    {{else}}
      <li class="pure-button pure-button-disabled">&#187;</li>
    {{/if}}
  </ul>
</div>
