<div class="header">
  <h1>Consolidated Screening List</h1>
</div>
<div class="content">
  <form class="pure-form" {{action "search" on="submit"}}>
    {{input class="pure-input-1" placeholder="Search" value=qField}}
    <input type="submit" value="Search"/>
  </form>

  <p>Total: {{total}}</p>

  <ul>
  {{#each}}
    <li>Name: {{name}}, source: {{source}}</li>
  {{/each}}
  </ul>

  <div class="pages">
    {{#each page in pages}}
      <button {{action "search" page}}>{{page}}</button>
    {{/each}}
  </div>

</div>
