
<div class="content">
  <form class="pure-form pure-form-stacked search" {{action "search" on="submit"}}>
    <fieldset>
        <div class="pure-u-1 pure-u-md-11-24 industries">
          <label for="industries">Industries</label>
          {{view "select2"
            content=industryList
            selection=industriesField
            optionValuePath="content.value"
            optionLabelPath="content.label"
            id="industries"
            class="pure-input-1"
            multiple=true}}
        </div>
        <div class="pure-u-1 pure-u-md-11-24 countries">
          <label for="countries">Countries</label>
          {{view "select2"
            content=countryList
            selection=countriesField
            optionValuePath="content.value"
            optionLabelPath="content.label"
            id="countries"
            class="pure-input-1"
            multiple=true}}
        </div>
          <div class="pure-u-1 pure-u-md-11-24 topics">
          <label for="topics">Topics</label>
          {{view "select2"
            content=topicList
            selection=topicsField
            optionValuePath="content.value"
            optionLabelPath="content.label"
            id="topics"
            class="pure-input-1"
            multiple=true}}
        </div>

        <div class="pure-u-1  sources">
        {{input type="submit" value="Generate Report" class="pure-u-1 pure-u-md-11-24 pure-button pure-button-primary"}}
        </div>
      </div>
    </fieldset>
  </form>

  {{outlet}}
</div>
